{% extends "base.html.twig" %}
{% block body %}
<h1 align="center">User {{ user }}</h1>
{% include 'board.html.twig'  %}
<a href="/reset/{{user}}">Rest Board</a>
<script>
$( document ).ready(function() {
    console.log( "ready!" );
    var my_style = "{{css_class}}";
    handlerIn = function (){
	if(!$(this).hasClass("played") && $(this).hasClass("playable")){
		$(this).addClass(my_style);
	}
	
    };
    handlerOut = function (){
	if(!$(this).hasClass("played")){
		$(this).removeClass(my_style);
	}
    };

    handlerClick = function(){
	if(!$(this).hasClass("played") && $(this).hasClass("playable")){
		$(this).addClass(my_style);
		$.ajax('/turn/{{user}}/'+$(this).attr('id'), {
			'method' : 'POST', 
			'success': function(){
				$(this).addClass("played");
				$(this).removeClass("playable");
			}
			});
	}
    }

    updateboard = function (data){
	//It will set the board as is reported by the server.
	for (row in data['game']) {
		for (line in data['game'][row]) {
		    var id = "#" + row + "_" + line;
		    if(data['game'][row][line] != 0){
			    $(id).addClass('player' + data['game'][row][line]);
			    $(id).removeClass('playable');
			    $(id).addClass('played');
	            }else{
			    $(id).addClass('playable');
		    }
		}
	}
    }

    doPing = function (){
	    setTimeout(function() {
		    $.ajax('/game-status', {'success' : updateboard });
		    doPing();
	    }, 1000);
    }

    doPing();

    $(".circle").hover( handlerIn, handlerOut ) ;
    $(".circle").click( handlerClick );

    $(".circle").addClass( "playable" );
});
</script>
{% endblock %}
