<html>
<head>
<title>Four in Line</title>
<style>
.circle{
	width:70px;
	height:70px;
	border-radius:35px;
	font-size:20px;
	color:#fff;
	line-height:100px;
	text-align:center;
	border: 3px solid black;
}
</style>
</head>
<body>
<h1>Wellcome to four in line.</h1>
{% include 'board.html.twig'  %}
</body>
