{% extends "base.html.twig" %}
{% block body %}
<h1>Wellcome to four in line.</h1>
<div><a href="{{ app.url_generator.generate('user', {'user' : '1'}) }}">Play as User 1</a></div>
<div><a href="{{ app.url_generator.generate('user', {'user' : '2'}) }}">Play as User 2</a></div>
{% endblock %}
